ValorantTracker/packages
ValorantTracker/.vs
ValorantTracker/ValorantTracker.Client/obj
.vs/ValorantTracker
.vs/ProjectSettings.json
.vs
ValorantTracker/ValorantTracker.UnitTest/bin
ValorantTracker/ValorantTracker.UnitTest/obj
ValorantTracker/ValorantTracker.UnitTest
